body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
}

.container {
  padding: 60px;
}

input, select {
  padding: 10px;
  margin: 5px;
  border-radius: 6px;
  border: none;
}

button {
  padding: 12px 20px;
  background: #22c55e;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background: #16a34a;
}

.result {
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
}
